$primary-color: #1b1c21;
$active-color: #3d50fa;
$secondary-color: #0f0f10;
$tertiary-color: #25262b;
$text-color-active: #ffffff;
$text-color-disable: #535357;
$green-color: #99ff86;
$error-color: #ff755a;

$big-font-size: 30px;
$medium-font-size: 25px;
$small-font-size: 18px;
$xs-font-size: 12px;

$extra-hight-margin: 50px;
$hight-margin: 30px;
$medium-margin: 20px;
$little-margin: 10px;
$xs-margin: 5px;

$extra-large: 1200px;
$large: 992px;
$medium: 850px;
$small: 576px;