$primary-color: #1b1c21;
$active-color: #3d50fa;
$secondary-color: #0f0f10;
$text-color-active: #ffffff;
$text-color-disable: #535357;

$big-font-size: 30px;
$medium-font-size: 25px;
$small-font-size: 18px;

$hight-margin: 30px;

$extra-large: 1200px;
$large: 992px;
$medium: 768px;
$small: 576px;